* {
	box-sizing: border-box;
}

body {
	background-color: black;
}

label {
	color: white;
}

#reset {
	display: block;
	margin: 5px auto;
}
#buttons {
	height: 20px;
	width: 250px;
	margin: 30px auto;
}
#container {
	font-size: 0;
	width: 576px;
	height: 576px;
	margin: 10px auto;
	background-color: black;
}
.grid {
	width: 32px;
	height: 32px;
	background-color: white;
	display: inline-block;
	opacity: 1;
	border: 1px solid gray;
}