body {
	background-color: black;
}
#reset {
	display: block;
	margin: 5px auto;
}
#buttons {
	height: 20px;
	width: 300px;
	margin: 30px auto;
}
#container {
	font-size: 0;
	width: 512px;
	height: 512px;
	margin: 10px auto;
	border: 3px solid;
	overflow: hidden;
	background-color: white;
}
#grid {
	width: 32px;
	height: 32px;
	background-color: white;
	display: inline-block;
	opacity: 1;
}
